.list {
    background: #C4C4C4;
    display: flex;
    height: 750px;
    padding: 50px;
    position: relative;
    justify-content: space-between;
    margin-bottom: 70px;
  }

.description {
    width: 60%;
    font-size: 25px;
  }
  
  .img {
    width: 34%;
    height: 100%;
  }